.popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000; /* this ensures to display on top of everything*/
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-content h2 {
    margin-top: 0;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    cursor: pointer;
    color: #333;
}

.character-list {
    display: inline-block; 
    justify-content: space-around; 
    padding: 0;
    list-style-type: none;
}

.character {
    text-align: center; 
    border: 2px solid #333; 
    border-radius: 10px; 
    padding: 10px;
    width: 200px; 
    background-color: #f8f8f8; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s, box-shadow 0.3s; 
}

.character img {
    width: 150px;
    height: 150px;
    border-radius: 5px; 
}

.character span {
    display: block;
    margin-top: 10px; 
    font-weight: bold; 
    color: #333; 
}

.character:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

#guess-section {
    margin: 20px 0;
    text-align: center;
}

#guess-input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

#guess-section button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#guess-section button:hover {
    background-color: #0056b3;
}

#body .description {
    background-color: #f8f9fa;
    border: 2px solid #5b2020;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: auto;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#body .description p {
	color: #5b2020;
	font-size: large;
	margin: 0;
	padding: 0;
}